{
  "env": {
    "browser": true,
    "mocha": true,
  },
  "extends": "airbnb/base",
  "globals": {
    "CLIENT_VERSION": true,
    "expect": true,
  },
  "rules": {
    "prefer-object-spread": "off",
  }
}
